# Docs
.github
mkdocs.yml
docs/

# NodeModules
node_modules/

# Sample App
sample/

# Build settings
.babelrc
.editorconfig

# Integrity files
package-lock.json
yarn.lock

# Source files
src/

# Flow
.flowconfig
flow-typed/