<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.near.sdk.reactnative.rnnearitsdk">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application>
        <service android:name="it.near.sdk.reactnative.rnnearitsdk.RNNearItJobIntentService"
                 android:exported="false"
                 android:permission="android.permission.BIND_JOB_SERVICE" >
            <intent-filter>
                <action android:name="it.near.sdk.permission.PUSH_MESSAGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="it.near.sdk.permission.GEO_MESSAGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="near_api_key"
            android:value="@string/nearit_api_key" />
    </application>
</manifest>
