<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmail.mattiapanzeri93.rnnearitsdk">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application>
        <!-- built-in background receiver -->
        <receiver
            android:name="it.near.sdk.recipes.background.NearItBroadcastReceiver"
            android:exported="false">

            <intent-filter>
                <action android:name="it.near.sdk.permission.GEO_MESSAGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="it.near.sdk.permission.PUSH_MESSAGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
